<div class="container" style="padding-top: 50px;">

    <h1 style="text-align:center;">Sign up and collect your starting balance</h1>

    <form id="form">
	    <label for="email">Email Address:</label><br />
	    <input type="email" id="email" placeholder="Your ETH email" required><br /><br />
	    <label for="eth_address">Ethereum Address:</label><br />
	    <input type="text" id="eth_address" placeholder="0x..." required><br /><br />
	    <input type="submit" value="Sign up">
    </form>
    <br />

    <div id="error" style="color: #e05247" hidden></div>
    <div id="success" style="color: #5cb85c" hidden>Successfully signed up!</div>

</div>
